ul {
    margin:20px;
}

ul > li {
    margin-left: 15px;
    font-family: 'Comfortaa', cursive;
}

ul > li > a {
    color: black;
    font-family: 'Comfortaa', cursive;
}

ul > li > a:hover {
    color: orange;
}

.slash {
    color: orange;
}

#contact-link:hover {
    color: orange;
    cursor: pointer;
}

#login:hover {
    cursor: pointer;
    color:orange;
}

.home-menu {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
.last-slash {display: none;}
 #login {display: none;}
}