ul > li {
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
}
ul > li > a {
    color: black;
    font-family: 'Comfortaa', cursive;
}

#contact-link:hover {
    text-decoration: underline;
    cursor: pointer;
}