#signin-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    text-align: left;
    margin-right: 30px;
}

button {
    padding: 0;
    padding-bottom: 5px;
}

@media screen and (max-width: 476px) { 
    #signin-container { 
        display: none;
    }
}