#signin-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    text-align: left;
}

button {
    padding: 0;
    padding-bottom: 5px;
}

@media screen and (max-width: 475px) { #signin-container { text-align: right } }