<div id="toggle-button" *ngIf="isLoggedIn()" (click)="toggleInput()">
    <pre>
 CLICK
  HERE
</pre>
</div>

<div id="form-container" *ngIf="isLoggedIn()">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="category" class="mr-sm-2">Category</label>
                    <select type="text" id="category" class="form-control mb-2 mr-sm-2 mb-sm-0" [ngModel]="menu?.category" name="category" required>
                        <option value={{category}} *ngFor="let category of categoriesList">{{category}}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="name" class="mr-sm-2">Name</label>
                    <input type="text" id="name" class="form-control mb-2 mr-sm-2 mb-sm-0" [ngModel]="menu?.name" name="name" required>
                </div>
                <div class="col">
                    <label for="price" class="mr-sm-2">Price</label>
                    <input type="text" id="price" class="form-control mb-2 mr-sm-2 mb-sm-0" [ngModel]="menu?.price" name="price" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="about" id="label-about">About</label>
            <textarea class="form-control" type="text" id="about" [ngModel]="menu?.about" name="about"></textarea>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    </form>
</div>