.menu-heading {
    font-family: 'Lato', sans-serif;
    font-size: 150px;
    color: #7f1a17;
    font-weight: lighter;
    margin-bottom: 150px; 
}
.menuList-container {
    border-bottom: solid #bebebe;
    padding-top: 70px;
}


#menu-footer {
    background-color: white;
    width: 100vw;
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100vh;
}

#menu-footer span {
    font-size: 50px;
    color: #959595;
    cursor: pointer;
}

.menu-container-background {
    background-color: white;
    width: 100vw;
    padding-top: 50px;
}

.menu-heading-container {
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    background-image: url('/assets/menu-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-images-container > div > img {
    width: 300px;
    height:300px;
    margin: 2px;
}

#menu-images-container > div > p {
    margin-top: -30px;
    margin-bottom:0;
    margin-left: 10px;
    background-color: white;
    padding-bottom: 5px;
    color: #f7f7f7;
}

#menu-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}


@media screen and (max-width: 1200px) { img { width: 200p; height: 200px; } }
@media screen and (max-width: 767px) { 
    
    #menu-images-container > div { width: 120px; height: 120px; } 
    #menu-images-container > div > img{ width: 120px; height: 120px; } 
    #menu-images-container > div > p { font-size: 13px; margin-top: -20px} 
    .menu-heading{font-size: 80px;  margin-bottom: 50px;} 
}
@media screen and (max-width: 371px) {
    #menu-images-container > div:last-child { display: none; }
}