<div class="menu-list">
    <h2 id="categories-name">{{category.categories | uppercase }}</h2>
    <div id="menu-dash">_</div>
    <div class="panel panel-default mx-auto">
        <div class="panel-body" *ngFor="let menu of category.list">
            <div id="name-price-container">
                <span id="name">{{menu.name | uppercase }}</span>
                <div id="dashed-underLine">.</div>
                <span class="price">{{menu.price}}</span>
            </div>
            <p class="text-left about">{{menu.about}}</p>
            <div *ngIf="isLoggedIn()">
                <a id="edit-menu" herf="#" (click)="onEdit(menu)">Edit</a>
                <a id="delete-menu" (click)="onDelete(menu)">Delete</a>
            </div>
        </div>
    </div>
</div>
<br>