@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

#navbar-container {
    display:flex;
    justify-content: space-between;
    background-color: white;
    width: 100vw;
}