<div id="footer">
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-12 contact-col">
                <h3>
                    <a href="tel:+7784322205" id="phoneNumber">778 432 2205</a>
                </h3>
                <p class="contact-list">LOCATION</p>
                <p class="contact-info">1594 Fairfield Rd # 5 Victoria, British Columbia V8S 1G1</p>
                <p class="contact-list">HOURS</p>
                <span class="contact-info">Monday - Friday 11:30 ~ 9:00,</span>
                <span class="contact-info">Sunday 11:30 ~ 8:00</span>
            </div>
        </div>
        <hr style="background-color: white">
        <div id="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
        <p id="copyRight">Copyright © 2018 by Sushi Field All Rights Reserved. Website Design By WON PARK</p>
    </div>
</div>