.contact-container {
    width: 50%;
}

#footer {
    display: flex;
    align-items: center;
    position:fixed;
    z-index: -1;
    bottom:0;
    width:100vw;
    height:100vh; 
    background-image: url('assets/footer-background.jpg');
    color: white;
 }

 #map {
    border:solid 2px #fcfff2;
 }

agm-map {
    height: 40vh;
}

#phoneNumber {
    color: white;
    font-family: 'Comfortaa', cursive;
}

.contact-list {
    font-family: 'Lato', sans-serif;
    color: #afafaf;
    margin-bottom: 5px;
}

.contact-info {
    font-family: 'Comfortaa', cursive;
}

#copyRight {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 800px) {
    .contact-container {
        width: 100%;
    }
}
@media screen and (max-width: 400px) { 
    .contact-col { font-size: 15px;} 
    agm-map {height: 35vh;}
}