#logo {
    margin-bottom: 100px;
}

.home-heading-container {
    display: flex;
    z-index: 1;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    background-color: white;
    background-image: url('/assets/home-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.home-container-background {
    background-color: white;
    width: 100vw;
}

.home-container-background > div {
    padding-right: 0;
    padding-left: 0;
}

.image-container {
    border-bottom: solid #bebebe;
    padding-bottom: 100px;
}

#home-footer {
    background-color: white;
    width: 100vw;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 100vh;
}

#home-footer span {
    font-size: 50px;
    color: #959595;
    cursor: pointer;
}

#home-footer span:hover {
    color: orange;
}

#interior {
    width:100vw;
}

#home-paragraph {
    text-align: center;
    padding: 100px;
}

#parallax {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.parallax-bg {
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url('/assets/sushi-party.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

/* text */
.all-you-need-is {
    font-size: 45px;
    font-family: 'lato'; 
    color:#f09191;
    margin-top: -21px;
    margin-bottom:0;
}

.sushi {
    font-family: 'Open Sans'; 
    font-size: 130px; 
    margin-top: -30px;
    margin-bottom: -35px;
    color:#e74545;
}

.at-sushifield {
    font-size: 52px; 
    font-family: 'lato'; 
    border-bottom: solid #ffaa75;
}

.sushiField {
    color: #ffaa75;
}

/* homepage food (middle) images */
.home-food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.home-food-images > div > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 2px;
}

#home-shape {
    text-align: center;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px; 
    height: 300px;
    border: solid 10px #f8ed67;
    background-color: #f86767;
    border-radius: 5%;
}

#home-shape > p {
    font-size: 38px;
    padding-top: 10px; 
    width: 50%;
    font-family: 'Comfortaa', cursive;
    color: white;
}
#home-shape > p > span {
    color:#f8ed67;
}

#home-shape2 {
    text-align: center;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px; 
    height: 300px;
    border: solid 10px #f86767;
    background-color: #f8ed67;
    border-radius: 5%;
}

#home-shape2 > p {
    font-size: 38px;
    padding-top: 10px; 
    width: 50%;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#home-shape2 > p > span {
    color: #f86767;
}

#home-illustration-background {
    background-image: url('/assets/sushi-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#home-paragraph-background {
    background-image: url('/assets/home-paragraph-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 768px) { 
    #home-footer{ height:100px; }
    #logo { width: 80%; margin-bottom: 50px;} 
    .home-food-images {margin-top: 100px}
    .home-food-images > img { width: 250px; height: 250px;}
    .all-you-need-is {font-size: 25px; margin-bottom:5px;}
    .sushi {font-size: 71px;margin-top: 20px; margin-top: -15px; margin-bottom: -13px;}
    .at-sushifield {font-size: 28px;margin-bottom: -12px;}
}


@media screen and (max-width: 550px) { 
    #home-paragraph {padding: 100px 50px 100px 50px}
    #logo { width: 80%;} 
    .all-you-need-is {font-size: 19px; margin-bottom:5px;}
    .sushi {font-size: 56px;margin-top: 20px; margin-top: -15px; margin-bottom: -13px;}
    .at-sushifield {font-size: 23px;margin-bottom: -12px;}
}