#logo {
    margin-bottom: 100px;
}

.home-heading-container {
    display: flex;
    z-index: 1;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    background-color: white;
    background-image: url('/assets/home-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.home-container-background {
    background-color: white;
    width: 100vw;
    border-top: solid black;
}

.home-container-background > div {
    padding-right: 0;
    padding-left: 0;
}

#home-footer {
    background-color: white;
    width: 100vw;
    height: 60vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 100vh;
}

#home-footer span {
    font-size: 50px;
    color: #7f1a17;
    cursor: pointer;
}

#interior {
    width:100vw;
}

#home-paragraph {
    text-align: center;
    margin-top: 50px;
    padding: 70px;
}

#sushiShape-background {
    background-color: white;
    padding-bottom: 150px;
    padding-top: 100px;
}

.home-paragraph-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#parallax {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.parallax-bg {
    position: absolute;
    width: 100%;
    height: 300%;
    background-image: url('/assets/sushi-party.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

/* text */
.all-you-need-is {
    font-size: 55px;
    font-family: sans; 
    color:#adadad;
    margin-top: -21px;
}

.sushi {
    font-family: 'Open Sans'; 
    font-size: 130px; 
    margin-top: -35px;
    color:#801a17;
}

.at-sushifield {
    font-size: 51px; 
    font-family: 'lato'; 
    margin-top: -40px;
    margin-bottom: 20px;
}

.sushiField {
    color: #be792e;
}

.and-mark {
    color:#ffc000;
}

/* homepage food (middle) images */
.home-food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.home-food-images > div > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.img-title {
    position: absolute;
    margin-top: -50px;
    color: white;
    margin-left: 95px;
}

#home-shape {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px; 
    height: 300px;
}

#home-shape > p {
    font-size: 40px;
    padding-top: 10px; 
    width: 50%;
    font-family: 'Comfortaa', cursive;
}


@media screen and (max-width: 768px) { 
    #home-paragraph {margin-top: 0;}
    #logo { width: 80%; margin-bottom: 50px;} 
    .sushi {font-size: 46px;margin-top: 20px; margin-top: -15px;}
    .at-sushifield {font-size: 19px; margin-top: -16px;}
    .home-food-images {margin-top: 100px}
    .home-food-images > img { width: 250px; height: 250px;}
    #home-shape {width: 250px; height: 250px;}
    .all-you-need-is {font-size: 20px;}
}

@media screen and (max-width: 475px) { #logo { width: 80%;} }