<div class='home-heading-container'>
    <img id="logo" src="./assets/logo.png" alt="sushi-field-logo">
</div>
<img id="interior" src="./assets/dummy-image.jpg" alt="">
<div class="home-container-background">
    <div id="sushiShape-background">
        <div class="container home-paragraph-container">
            <div id="home-paragraph">
                <h3 class='all-you-need-is'>
                    All You Need Is</h3>
                <h1 class='sushi'>SUSHI</h1>
                <span class='at-sushifield'>at
                    <span class="sushiField">SUSHI FIELD</span>
                </span>
            </div>
        </div>
    </div>

    <div id="parallax">
        <div class="parallax-bg"></div>
        <!-- <img src="./assets/sushi-party.jpg" alt=""> -->
    </div>

    <div class="container">
        <div class="home-food-images">
            <div id="home-shape">
                <p>DINE IN
                    <span class='and-mark'>or</span> TAKE OUT
                </p>
            </div>
            <div>
                <img src="./assets/home2.png" alt="">
                <p class="img-title">Caterpillar Roll</p>
            </div>
        </div>
        <div class="home-food-images" style="margin-top: 0">
            <div>
                <img src="./assets/home3.png" alt="">
                <p class="img-title">Spring Garden Roll</p>
            </div>
            <div>
                <img src="./assets/home1.png" alt="">
                <p class="img-title">Beef Yakisoba</p>
            </div>
        </div>

    </div>
</div>
<div id="home-footer">
    <span id="upButton">⇑</span>
</div>