<div class='home-heading-container'>
        <img id="logo" src="./assets/logo.png" alt="sushi-field-logo">
</div>
<img id="interior" src="./assets/dummy-image.jpg" alt="">
<div class="home-container-background">
    <div class="container">
        <div id="home-paragraph">
            <img id="quotation-mark" src="./assets/quotation-mark.png" alt="">
            <h3 class='all-you-need-is'>
                All You Need Is</h3>
            <h1 class='sushi'>SUSHI</h1>
            <h3 class='at-sushifield'>at
                <span class="sushiField">SUSHI FIELD</span>
            </h3>
            <img id="quotation-mark2" src="./assets/quotation-mark2.png" alt="">
        </div>

        <div id="home-food-images">
            <img src="./assets/home2.png" alt="">
            <div id="home-shape">
                <p class='eat-in-take-out'>EAT IN <span class='and-mark'>&</span> TAKE OUT</p>
            </div>
            <img src="./assets/home3.png" alt="">
            <img src="./assets/home1.png" alt="">
        </div>

    </div>
</div>
<div id="home-footer">
    <span id="upButton">⇑</span>
</div>
