#logo {
    margin-bottom: 100px;
}

.home-heading-container {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    background-color: white;
    background-image: url('/assets/home-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container-background {
    background-color: white;
    width: 100vw;
    padding-top: 100px;
}

.footer-cover {
    height: 100vh;
    width: 100%;
}

#home-footer {
    background-color: white;
    width: 100%;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
}

#home-footer span {
    font-size: 50px;
    color: #7f1a17;
    cursor: pointer;
}

#interior {
    width:100%;
}

#home-paragraph {
    text-align: center;
}