<div class='home-heading-container'>
    <div>
        <img id="logo" src="./assets/logo.png" alt="sushi-field-logo">
    </div>
</div>
<img id="interior" src="./assets/dummy-image.jpg" alt="">
<div class="home-container-background">
    <div class="container">
        <div id="home-paragraph">
            <h3 style="font-family: sans;
            margin-bottom: 0;">
                <span>"</span>All You Need Is</h3>
            <h1 style="font-family: 'Open Sans'; font-size: 80px; margin-left: 100px;margin-top: -30px;">SUSHI</h1>
            <h3 style="font-family: 'lato'; margin-top: -40px; margin-left: 170px;"><span>At</span> SUSHI FIELD
                <span style="font-size: 50px">"</span>
            </h3>
            <p>Hello my name is Ji. Do you know Kimchi.</p>
        </div>
        <div style="background-color: red; height:1000px"></div>
    </div>
</div>
<div id="home-footer">
    <span id="upButton">⇑</span>
</div>
<div class="footer-cover"></div>